{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6">

            {%for win in wins%}
            <h3>Congratulations! you won the auction on {{win.listing_title}} at ${{win.final_price}}</h3>
            {%endfor%}
            {%for listing in listings%}
            <div class="card mb-3" style="width: 40rem;">
                <img src="{{listing.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{listing.title}}</h5>
                    <p class="card-text">{{listing.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">by: {{listing.seller}}</li>
                    <li class="list-group-item">created: {{listing.time}}</li>
                    <li class="list-group-item">price: ${{listing.price}}</li>
                    <li class="list-group-item">Category: {{listing.category}}</li>
                </ul>
                <div class="card-body">
                    <a href="{%url 'view_listing' listing.id%}" class="btn btn-info me-3">View listing</a>

                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col">

        </div>
    </div>
</div>



{% endblock %}