{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
{%for listing in listings%}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-6 mb-3">

            <div class="card" style="width: 40rem;">
                <img src="{{listing.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{listing.title}}</h5>
                    <p class="card-text">{{listing.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">by: {{listing.seller}}</li>
                    <li class="list-group-item">created: {{listing.time}}</li>
                    <li class="list-group-item">price: ${{listing.price}}</li>
                    <li class="list-group-item">Category: {{listing.category}}</li>
                </ul>
                <div class="card-body">
                    <a href="{%url 'view_listing' listing.id%}" class="btn btn-info me-3">View listing</a>
                    <a href="#" class="btn btn-info me-3">Another link</a>
                </div>
            </div>

        </div>
        <div class="col">

        </div>
    </div>
</div>


{%endfor%}
{% endblock %}