{% extends "auctions/layout.html"%}

{%block body%}

{%for item in items%}
<h1>{{item.list_item.title}}</h1>
<p>{{item.list_item.description}}</p>
<p>Starting Price: {{item.list_item.starting_bid}}</p>
<p>Price: {{item.list_item.price}}</p>
<img src="{{item.list_item.image}}" alt="">
<form action="{%url 'watchlist'%}" method="POST">
    {%csrf_token%}
    <input type="text" name="item_id" value="{{item.id}}" hidden>

    <input type="submit" value="Remove from Wishlish">
</form>
{%empty%}
<h1>No listings added to the watchlist</h1>
{%endfor%}




{%endblock%}